<template>
  <div class="search">
    <h2>Busca la foto que quieras desde los archivos de la NASA</h2>
    <form v-on:submit.prevent="getResult(query)">
      <input type="text" placeholder="Busca, con confianza" v-model="query" />
    </form><br>
    <div class="results" v-if="results">
      <div v-for="result in results">
        <img v-bind:src="result.links[0].href" />
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: 'search',
  data () {
    return {
      msg: 'Search',
      query: '',
      results: ''
    }
  },
  methods: {
    getResult(query) {
      axios.get('https://images-api.nasa.gov/search?q=' + query +  '&media_type=image').then( response => {
        console.log(response.data.collection.items);
        this.results = response.data.collection.items;
      } );
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.search {
  width: 100%;
  padding-top: 10px;
  margin-top: 20px;
  color: white;
  background-color: lightslategrey;
  border-radius: 30px;
}

h1, h2 {
  font-weight: normal;
}

input {
  height: 30px;
  width: 30%;
  text-align: center;
  border-radius: 10px;
}

.results {
  margin-left: 15%;
  margin-right: 15%;
  border: 3px solid lightgrey;
  padding: 20px;
  border-radius: 30px;
  background-size: 100%;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/712/893/269/espacio-estrellas-naturaleza-universo-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.results img {
  height: 300px;
  max-width: 100%;
  padding: 10px;
  border-radius: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
